.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: #ff0000;
}

.hoverText:hover + .hoverText {
  font-weight: 500;
  color: #054b2a;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: #054b2a;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}
